@model List<Category>
<h1>List Categoryes</h1>
<table class="table table-bordered table-strinped">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Orde
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model.OrderBy(u=>u.DisplayOrder))
        {
            <tr>
                <td>@obj.Name</td>
                <td>@obj.DisplayOrder</td>
            </tr>
        }

    </tbody>
</table>